services:
  surrealdb:
    image: surrealdb/surrealdb:v2.1.4
    command: start --log info --user root --pass root rocksdb:/mydata/mydatabase.db
    user: root
    ports:
      - "8000:8000"
    volumes:
      - ./surreal_data:/mydata
    restart: always

  open_notebook:
    image: ghcr.io/lfnovo/open-notebook:v1-latest
    ports:
      - "8502:8502"
      - "5055:5055"
    environment:
      - OPEN_NOTEBOOK_ENCRYPTION_KEY=my-secret-key-123
      - SURREAL_URL=ws://surrealdb:8000/rpc
      - SURREAL_USER=root
      - SURREAL_PASSWORD=root
      - SURREAL_NAMESPACE=open_notebook
      - SURREAL_DATABASE=open_notebook
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
    volumes:
      - ./notebook_data:/app/data
    depends_on:
      - surrealdb
    restart: always
